
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap');


// fonts
body {font-family: 'Nanum Gothic', sans-serif;}
code {font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;}

// theme colors
$text-color: rgba(#FFF, 0.87) rgba(#FFF, 0.60) rgba(#FFF, 0.38) rgba(#FFF, 0.12);
$background-color: #121212 #263238;
$desktop-width: 700px;

body {
    background-color: nth($background-color, 1);
    color: nth($text-color, 2);
}

h1 {
    color: nth($text-color, 1);
    margin: 0;
}

header {
    text-align: center;
    padding-top: 1.5rem;
    border-bottom: nth($text-color, 4) 2px solid;
    a {
        color: nth($text-color, 1);
        text-decoration: none;
    }
}

nav {
    font-size: 1.3em;
    width: $desktop-width;
    margin: auto;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li {
        padding: 0 0.3rem;
    }
    a {
        display: inline-block;
        padding: 0.3rem;
    }
    #blog-menu {}
    #blog-category {
        .link_tit {
            display: none;
        }
    }
}