doctype html

html(lang="ko")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title [##_page_title_##]

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github-dark.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js")
    script hljs.highlightAll();

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.3/katex.min.js")
    script(defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);") 

    link(rel="stylesheet" href="./images/theme.css")
    script(defer src="./images/postProcess.js")
    script(src="./images/preprocess.js")

  body(id="[##_body_id_##]")
    block TIDORY
