extends app

block TIDORY
  s_t3
    include views/Header
    div.content-warp [##_revenue_list_upper_##]
      include views/Article
      include views/Tag
      include views/Guest
    div [##_revenue_list_lower_##]
    include views/Paging
