s_guest
  div#guestbook
    s_guest_input_form
      div.guest-new
        s_guest_member
          s_guest_form
            div.input-group
              label(for="[##_guest_input_name_##]") 이름
              input(type="text" name="[##_guest_input_name_##]" value="[##_guest_name_##]")
            div.input-group
              label(for="[##_guest_input_password_##]") 비밀번호
              input(type="password" maxlength="8" name="[##_guest_input_password_##]" value="[##_guest_password_##]")
        textarea(name="[##_guest_textarea_body_##]" onkeydown="resize(this)" onkeyup="resize(this)")
        input(type="submit" value="안부 남기기" onclick="[##_guest_onclick_submit_##]")
    s_guest_container
      ui.guest-list
        s_guest_rep
          li.guest-list-item(id='[##_guest_rep_id_##]')
            span.name [##_guest_rep_name_##]
            span.date [##_guest_rep_date_##]

style.
  #guestbook {
    max-width: 750px;
    margin: auto;
  }
  .guest-new {
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem 1rem;
  }
  .guest-new label {
    margin: 0 0.5rem;
    color: var(--color-medium);
  }
  .guest-new input {
    background-color: var(--color-medium);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
  }
  .guest-new textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--color-medium);
    overflow:visible;
    resize: none;
  }
  .guest-new input[type="submit"] {
    width: 40%;
    padding: 4px 0;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    background-color: var(--color-button);
    color: var(--color-high);
    border: none;
    border-radius: .2rem;
  }