s_permalink_article_rep
  article
    h1 [##_article_rep_title_##]
    div.meta
      span.date [##_article_rep_date_year_##].[##_article_rep_date_month_##].[##_article_rep_date_day_##].
      a.category(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
    div.body [##_article_rep_desc_##]
    div.tags
      b 태그:
      s_tag_label [##_tag_label_rep_##]
    include Comment


