s_index_article_rep
  div.article-list-item
    div.article-list-item-warp
      s_article_rep_thumbnail
        img(src='[##_article_rep_thumbnail_url_##]')
      p.article-desc-warp [##_article_rep_summary_##]
      h2
        a(href="[##_article_rep_link_##]") [##_article_rep_title_##]
      p.article-meta-warp
        a(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
        span.date [##_article_rep_date_year_##].[##_article_rep_date_month_##].[##_article_rep_date_day_##].
