header
  div#blog-title
    h1
      a(href="[##_blog_link_##]") [##_title_##]
    p [##_desc_##]
  nav
    div#blog-menu [##_blog_menu_##]
    div#blog-category [##_category_list_##]
    ul#blog-category-sub
