nav
  div.menu [##_blog_menu_##]
  div.category [##_category_list_##]


style.
  header > nav {
    margin-bottom: 1.5em;
  }
  header > nav .menu,
  header > nav .category {
    margin-top: 1em;
  }
  header > nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em 0.5em;
    align-items: center;
    justify-content: center;
  }
  header > nav li {
    margin: 0 15px;
    display: inline-block;
  }
  header > nav a.link_tit,
  header > nav span.c_cnt {
    display: none;
  }
  header > nav a {
    font-size: 1.05em;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-blur);
    transition-duration: 0.3s;
  }
  header > nav a:hover {
    color: var(--color);
  }
