h1 [##_title_##]
p [##_desc_##]

style.
  header > h1 {
    color: var(--color-high);
    font-size: 2.8em;
    font-weight: 200;
    margin: 0px;
  }
  header > p {
    color: var(--color-medium);
  }
