@import "../variable";

.article-list {
    position: relative;
    max-width: $desktop-width;
    overflow: hidden;
    transition: height 0.3s ease-in;
}

.article-list-item {
    position: absolute;
    width: 33.3%;
    box-sizing: border-box;
    color: nth($text-color, 2);
    opacity: 0;
    padding: 0.3rem;
    transition: opacity 0.8s ease-in;
    @media (max-width: $desktop-width) {
        width: 50%;
    }
    @media (max-width: $mobile-width) {
        width: 100%;
    }
    &.show {
        opacity: 1;
    }
    .article-list-item-warp {
        background-color: nth($box-background, 2);
        padding: 1rem 0.3rem 0.3rem 0.3rem;
    }
    h1, h2 {
        margin: 1rem 0 1rem 0;
        font-size: 1.2em;
        a { color: nth($text-color, 1); }
    }
    img {
        width: 100%;
        display: block;
    }
    a {
        color: nth($text-color, 2);
        text-decoration: none;
    }
    .article-desc-warp {
        $line-height: 1.5em;
        color: nth($text-color, 3);
        line-height: $line-height;
        font-size: 0.8em;
        max-height: calc($line-height * 6);
        overflow: hidden;
        margin: 0;
    }
    img + .article-desc-warp {
        display: none;
    }
    .article-meta-warp {
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;
    }
}